USE [master]
GO
/****** Object:  Database [A24_DWH]    Script Date: 11/9/2025 6:15:48 PM ******/
CREATE DATABASE [A24_DWH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'A24_DWH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\A24_DWH.mdf' , SIZE = 204800KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'A24_DWH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\A24_DWH_log.ldf' , SIZE = 729088KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [A24_DWH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [A24_DWH]
GO
/****** Object:  Schema [DWH]    Script Date: 11/9/2025 6:15:48 PM ******/
CREATE SCHEMA [DWH]
GO
/****** Object:  Table [DWH].[DimEmployee]    Script Date: 11/9/2025 6:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimEmployee](
	[EmployeeKey] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [nvarchar](50) NULL,
	[EmployeeName] [nvarchar](100) NULL,
	[Site] [nvarchar](100) NULL,
	[ManagerName] [nvarchar](100) NULL,
	[LoadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[DimCallType]    Script Date: 11/9/2025 6:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimCallType](
	[CallTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[CallTypeID] [int] NULL,
	[CallTypeLabel] [nvarchar](100) NULL,
	[LoadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CallTypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[DimState]    Script Date: 11/9/2025 6:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimState](
	[StateKey] [int] IDENTITY(1,1) NOT NULL,
	[StateCD] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Region] [nvarchar](100) NULL,
	[LoadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[DimCharge]    Script Date: 11/9/2025 6:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimCharge](
	[CallChargeKey] [int] IDENTITY(1,1) NOT NULL,
	[CallType] [nvarchar](100) NULL,
	[CallCharge_2018_min] [decimal](6, 2) NULL,
	[CallCharge_2019_min] [decimal](6, 2) NULL,
	[CallCharge_2020_min] [decimal](6, 2) NULL,
	[LoadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CallChargeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[DimAllYears]    Script Date: 11/9/2025 6:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimAllYears](
	[YearsKey] [int] IDENTITY(1,1) NOT NULL,
	[CallType] [int] NULL,
	[EmployeeID] [nvarchar](50) NULL,
	[CallDuration] [int] NULL,
	[WaitTime] [int] NULL,
	[CallAbandoned] [bit] NULL,
	[CallDate] [date] NULL,
	[CallTime] [time](7) NULL,
	[LoadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[YearsKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[FactCalls]    Script Date: 11/9/2025 6:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactCalls](
	[FactCallKey] [int] IDENTITY(1,1) NOT NULL,
	[YearsKey] [int] NOT NULL,
	[EmployeeKey] [int] NOT NULL,
	[CallTypeKey] [int] NOT NULL,
	[StateKey] [int] NULL,
	[CallChargeKey] [int] NULL,
	[CallDuration] [int] NULL,
	[WaitTime] [int] NULL,
	[CallAbandoned] [bit] NULL,
	[WithinSLA] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[FactCallKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [DWH].[vw_FactCalls_StarSchema]    Script Date: 11/9/2025 6:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DWH].[vw_FactCalls_StarSchema] AS
SELECT 
    F.FactCallKey,
    Y.YearsKey,
    E.EmployeeKey,
    C.CallTypeKey,
    S.StateKey,
    CH.CallChargeKey,
    F.CallDuration,
    F.WaitTime,
    F.CallAbandoned,
    F.WithinSLA
FROM DWH.FactCalls F
JOIN DWH.DimAllYears Y ON F.YearsKey = Y.YearsKey
JOIN DWH.DimEmployee E ON F.EmployeeKey = E.EmployeeKey
JOIN DWH.DimCallType C ON F.CallTypeKey = C.CallTypeKey
JOIN DWH.DimState S ON F.StateKey = S.StateKey
JOIN DWH.DimCharge CH ON F.CallChargeKey = CH.CallChargeKey;
GO
ALTER TABLE [DWH].[DimCallType] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [DWH].[DimCharge] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [DWH].[DimEmployee] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [DWH].[DimState] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [DWH].[FactCalls]  WITH CHECK ADD FOREIGN KEY([CallChargeKey])
REFERENCES [DWH].[DimCharge] ([CallChargeKey])
GO
ALTER TABLE [DWH].[FactCalls]  WITH CHECK ADD FOREIGN KEY([CallTypeKey])
REFERENCES [DWH].[DimCallType] ([CallTypeKey])
GO
ALTER TABLE [DWH].[FactCalls]  WITH CHECK ADD FOREIGN KEY([EmployeeKey])
REFERENCES [DWH].[DimEmployee] ([EmployeeKey])
GO
ALTER TABLE [DWH].[FactCalls]  WITH CHECK ADD FOREIGN KEY([StateKey])
REFERENCES [DWH].[DimState] ([StateKey])
GO
ALTER TABLE [DWH].[FactCalls]  WITH CHECK ADD FOREIGN KEY([YearsKey])
REFERENCES [DWH].[DimAllYears] ([YearsKey])
GO
USE [master]
GO
