USE [master]
GO
/****** Object:  Database [A24_ODS]    Script Date: 11/9/2025 6:13:09 PM ******/
CREATE DATABASE [A24_ODS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'A24_ODS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\A24_ODS.mdf' , SIZE = 1187840KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'A24_ODS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\A24_ODS_log.ldf' , SIZE = 4726784KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [A24_ODS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [A24_ODS]
GO
/****** Object:  Schema [ODS]    Script Date: 11/9/2025 6:13:10 PM ******/
CREATE SCHEMA [ODS]
GO
/****** Object:  Table [ODS].[Allyears]    Script Date: 11/9/2025 6:13:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[Allyears](
	[CallKey] [int] IDENTITY(1,1) NOT NULL,
	[CallTimestamp] [datetime] NULL,
	[CallType] [int] NULL,
	[EmployeeID] [nvarchar](50) NULL,
	[CallDuration] [int] NULL,
	[WaitTime] [int] NULL,
	[CallAbandoned] [int] NULL,
	[LoadDate] [datetime] NULL,
	[CallDate] [date] NULL,
	[CallTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CallKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[CallCharges]    Script Date: 11/9/2025 6:13:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[CallCharges](
	[CallChargeKey] [int] IDENTITY(1,1) NOT NULL,
	[CallType] [nvarchar](100) NOT NULL,
	[CallCharge_2018_min] [nvarchar](100) NULL,
	[CallCharge_2019_min] [nvarchar](100) NULL,
	[CallCharge_2020_min] [nvarchar](100) NULL,
	[LoadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CallChargeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[CallsData2018]    Script Date: 11/9/2025 6:13:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[CallsData2018](
	[CallKey] [int] IDENTITY(1,1) NOT NULL,
	[CallTimestamp] [datetime] NULL,
	[CallType] [int] NULL,
	[EmployeeID] [nvarchar](50) NULL,
	[CallDuration] [nvarchar](50) NULL,
	[WaitTime] [nvarchar](50) NULL,
	[CallAbandoned] [nvarchar](10) NULL,
	[LoadDate] [datetime] NULL,
	[CallDate] [date] NULL,
	[CallTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CallKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[CallsData2019]    Script Date: 11/9/2025 6:13:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[CallsData2019](
	[CallKey] [int] IDENTITY(1,1) NOT NULL,
	[CallTimestamp] [datetime] NULL,
	[CallType] [int] NULL,
	[EmployeeID] [nvarchar](50) NULL,
	[CallDuration] [nvarchar](50) NULL,
	[WaitTime] [nvarchar](50) NULL,
	[CallAbandoned] [nvarchar](10) NULL,
	[LoadDate] [datetime] NULL,
	[CallDate] [date] NULL,
	[CallTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CallKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[CallsData2020]    Script Date: 11/9/2025 6:13:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[CallsData2020](
	[CallKey] [int] IDENTITY(1,1) NOT NULL,
	[CallTimestamp] [datetime] NULL,
	[CallType] [int] NULL,
	[EmployeeID] [nvarchar](50) NULL,
	[CallDuration] [nvarchar](50) NULL,
	[WaitTime] [nvarchar](50) NULL,
	[CallAbandoned] [nvarchar](10) NULL,
	[LoadDate] [datetime] NULL,
	[CallDate] [date] NULL,
	[CallTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CallKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[CallTypes]    Script Date: 11/9/2025 6:13:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[CallTypes](
	[CallTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[CallTypeID] [nvarchar](100) NULL,
	[CallTypeLabel] [nvarchar](100) NULL,
	[LoadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CallTypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[Employees]    Script Date: 11/9/2025 6:13:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[Employees](
	[EmployeeKey] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [nvarchar](100) NULL,
	[EmployeeName] [nvarchar](100) NULL,
	[Site] [nvarchar](100) NULL,
	[ManagerName] [nvarchar](100) NULL,
	[LoadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ODS].[States]    Script Date: 11/9/2025 6:13:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ODS].[States](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[StateCD] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Region] [nvarchar](50) NULL,
	[LoadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ODS].[Allyears] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [ODS].[CallCharges] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [ODS].[CallsData2018] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [ODS].[CallsData2019] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [ODS].[CallsData2020] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [ODS].[CallTypes] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [ODS].[Employees] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [ODS].[States] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
USE [master]
GO
