USE [master]
GO
/****** Object:  Database [A24_STA]    Script Date: 11/9/2025 6:10:59 PM ******/
CREATE DATABASE [A24_STA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'A24_STA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\A24_STA.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'A24_STA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\A24_STA_log.ldf' , SIZE = 401408KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [A24_STA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [A24_STA]
GO
/****** Object:  Schema [STA]    Script Date: 11/9/2025 6:10:59 PM ******/
CREATE SCHEMA [STA]
GO
/****** Object:  Table [STA].[CallCharges]    Script Date: 11/9/2025 6:10:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STA].[CallCharges](
	[CallType] [nvarchar](100) NOT NULL,
	[CallCharges_2018] [nvarchar](100) NOT NULL,
	[CallCharges_2019] [nvarchar](100) NOT NULL,
	[CallCharges_2020] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STA].[CallsData2018]    Script Date: 11/9/2025 6:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STA].[CallsData2018](
	[CallTimestamp] [nvarchar](100) NOT NULL,
	[CallType] [nvarchar](100) NOT NULL,
	[EmployeeID] [nvarchar](100) NOT NULL,
	[CallDuration] [nvarchar](100) NULL,
	[WaitTime] [nvarchar](100) NULL,
	[CallAbandoned] [nvarchar](100) NULL,
	[CallID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [STA].[CallsData2019]    Script Date: 11/9/2025 6:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STA].[CallsData2019](
	[CallID] [int] IDENTITY(1,1) NOT NULL,
	[CallTimestamp] [nvarchar](100) NULL,
	[CallType] [nvarchar](100) NULL,
	[EmployeeID] [nvarchar](100) NULL,
	[CallDuration] [nvarchar](50) NULL,
	[WaitTime] [nvarchar](50) NULL,
	[CallAbandoned] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [STA].[CallsData2020]    Script Date: 11/9/2025 6:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STA].[CallsData2020](
	[CallID] [int] IDENTITY(1,1) NOT NULL,
	[CallTimestamp] [nvarchar](100) NULL,
	[CallType] [nvarchar](100) NULL,
	[EmployeeID] [nvarchar](100) NULL,
	[CallDuration] [nvarchar](50) NULL,
	[WaitTime] [nvarchar](50) NULL,
	[CallAbandoned] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [STA].[CallTypes]    Script Date: 11/9/2025 6:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STA].[CallTypes](
	[CallTypeID] [nvarchar](100) NOT NULL,
	[CallTypeLabel] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STA].[Employees]    Script Date: 11/9/2025 6:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STA].[Employees](
	[EmployeeID] [nvarchar](100) NOT NULL,
	[EmployeeName] [nvarchar](100) NOT NULL,
	[Site] [nvarchar](100) NULL,
	[ManagerName] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [STA].[States]    Script Date: 11/9/2025 6:11:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [STA].[States](
	[StateCD] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Region] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
